.user {
    margin-left: auto;
    margin-right: auto;
}

.user__name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.admin {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

.admin__host {
    width: 65%;
    padding-left: 5%;
    height: auto;
    background-color: rgb(107, 107, 248);
    border-radius: 8px;
}

.admin__host-title {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.admin__host-detail {
    width:100%;
    color: white;
    font-size: 15px;
}


.admin__host-form-submit {
    border-radius: 4px;
    font-weight: bold;
}


.admin__host-message {
    color: white;
}
