.header {
    height: 60px;
    width: auto;
    background-color: #fff;
}

.header__inner {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .header__inner {
        margin: 0 auto;
        padding: 0px 0px;
        width: auto;
    }
}

.header__logo {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
}

.header__utilities {
    width: 800px;
}

.header__nav {
    text-align: center;
}

.header__nav-item {
    display: inline;
    font-size: 20px;
}

.header__nav-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.header__nav-button {
    border: none;
    background: transparent;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

main {
    background-color: rgb(240, 247, 255);
    height: auto;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    main {
        background-color: rgb(240, 247, 255);
        height: auto;
        width: auto;
    }
}