.header {
    height: 60px;
    width: auto;
    background-color: #fff;
}

.header__inner {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.header__logo {
    width: 20%;
    text-align: center;
    color: blue;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin-left: 0px;
        margin-right: 0px;
        width: 50px;
        font-size: 17px;
    }
}

.header__utilities {
    width: 80%;
}

@media screen and (max-width: 768px) {
    .header__utilities {
        width: auto;
    }
}

.header__nav {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .header__nav {
        padding-left: 0px;
    }
}

.header__nav-item {
    margin-left: 15px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .header__nav-item {
        margin-left: 5px;
        font-size: 15px;
    }
}

.header__nav-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.header__nav-button {
    border: none;
    background: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header__nav-button {
        font-size: 13px;
    }
}

main {
    background-color: rgb(240, 247, 255);
    height: auto;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    main {
        height: auto;
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
}