.greeting {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.attendance__content {
    margin: 0 auto;
    padding: 0px 15px;
    max-width: 1230px;
}

.attendance__panel {
    margin: 0 auto;
    display: flex;
    width: 550px;
    height: 120px;
}

.attendance__button {
    width: 50%;
    text-align: center;
}

.attendance__button-submit {
    padding: 5px;
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 3px;
    color: black;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.attendance__button-submit--off {
    padding: 5px;
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 3px;
    color: gray(255, 255, 255, 0.917);
    background-color: white;
    font-weight: lighter;
}

.break__panel {
    margin: 0 auto;
    display: flex;
    width: 550px;
    height: 120px;
}

.break__button {
    width: 50%;
    text-align: center;
}

.break__button-submit {
    padding: 5px;
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 3px;
    color: black;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.break__button-submit--off {
    padding: 5px;
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 3px;
    color: gray(255, 255, 255, 0.917);
    background-color: white;
    font-weight: lighter;
}

.alert {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: red;
}

.message {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
}