.search__form {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: auto;
}

.search__form-item {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.search__explanation {
    text-align: center;
    font-size: 17px;
}

.restaurant__list {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
}

.restaurant__list-each {
    width: 200px;
    margin-bottom: 10px;
}

.restaurant__list-each-image {
    width: 95%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 2px 4px;
}

.restaurant__list-each-explanation {
    width: 95%;
    height: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 4px;
}

.restaurant__list-each-name {
    font-weight: bold;
}

.restaurant__list-each-form {
    width: 85%;
    display: flex;
    justify-content: space-around;
}

.restaurant__detail-submit {
    background-color: blue;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.restaurant__favorite-submit {
    background-color: transparent;
    border:none;
}