.restaurant {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .restaurant {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.restaurant__detail {
    width: 45%;
    padding-right: 5%;
}

@media screen and (max-width: 768px) {
    .restaurant__detail {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.restaurant__detail-name {
    font-weight: bold;
    font-size: 25px;
}

.restaurant__detail-image {
    width: 100%;
}

.restaurant__detail-explanation {
    font-weight: bold;
}

.restaurant__detail-overview {
    font-weight: bold;
}

.restaurant__booking {
    width: 45%;
    padding-left: 5%;
    height: auto;
    background-color: rgb(107, 107, 248);
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .restaurant__booking {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        background-color: rgb(107, 107, 248);
        border-radius: 8px;
    }
}

.restaurant__booking-title {
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.restaurant__booking-instruction {
    color: white;
}

.restaurant__booking-form-date {
    border-radius: 2px;
    height: 30px;
    width: 160px;
}

.restaurant__booking-form-time {
    border-radius: 2px;
    height: 30px;
    width: 160px;
}

.restaurant__booking-form-number {
    border-radius: 2px;
    height: 30px;
    width: 160px;
}

.restaurant__booking-form-submit {
    border-radius: 4px;
    font-weight: bold;
}

.restaurant__booking-error_messsage {
    color: white;
    list-style: none;
}

.restaurant__booking-message {
    color: white;
}

.restaurant__booking-detail {
     color: white;
 }